*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;

  // change of font size
  @media #{$xs} {
    //320px
    // font-size: 1rem;
  }
  @media #{$sm} {
    //648px
    font-size: 1.2rem;
  }

  @media #{$md} {
    //720px
    font-size: 1.3rem;
  }

  @media #{$lg} {
    //1024px
    font-size: 1.5rem;
  }

  @media #{$xl} {
    //1280px
    font-size: 1.7rem;
  }
  @media #{$xxl} {
    //1538px
    font-size: 1.7rem;
  }
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
}

a {
  text-decoration: none;
  display: inline-block;
}

.white-space-no-wrap {
  white-space: nowrap;
}
