*, *::after, *::before{
    margin: 0; 
    padding: 0; 
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;


    // % may vary from project to project 
    @include respond(phone-small){

        font-size: 55%;
    }
   

    @include respond(phone){

        font-size: 70%;
    }


    @include respond(tab-land) {
        font-size: 85%; 
    }

    
    @include respond(big-desktop) {
        font-size: 90%; 
    }



}

body{
    box-sizing: border-box;

    // see if this overflow property works for your project or not
    overflow-x: hidden; 
}

ul{
    list-style: none;
}

li{
    display: inline-block;
}


a{
    text-decoration: none;
    display: inline-block;
    
}


.white-space-no-wrap{
    white-space: nowrap;

}